$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #C700FE;
$secondary_paletteKeyColor: #8F6C88;
$tertiary_paletteKeyColor: #9E6684;
$neutral_paletteKeyColor: #7F737F;
$neutral_variant_paletteKeyColor: #817381;
$background: #18111A;
$onBackground: #EDDEEB;
$surface: #18111A;
$surfaceDim: #18111A;
$surfaceBright: #3F3640;
$surfaceContainerLowest: #130C14;
$surfaceContainerLow: #211922;
$surfaceContainer: #251D26;
$surfaceContainerHigh: #302731;
$surfaceContainerHighest: #3B323C;
$onSurface: #EDDEEB;
$surfaceVariant: #4F4350;
$onSurfaceVariant: #D2C1D2;
$inverseSurface: #EDDEEB;
$inverseOnSurface: #362D37;
$outline: #9B8C9B;
$outlineVariant: #4F4350;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #F0B0FF;
$primary: #F0B0FF;
$onPrimary: #54006D;
$primaryContainer: #770099;
$onPrimaryContainer: #FBD7FF;
$inversePrimary: #9C00C8;
$secondary: #E4BADA;
$onSecondary: #43273F;
$secondaryContainer: #5E3F59;
$onSecondaryContainer: #FFD9F5;
$tertiary: #F6B3D5;
$onTertiary: #4E203C;
$tertiaryContainer: #BB7F9E;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FBD7FF;
$primaryFixedDim: #F0B0FF;
$onPrimaryFixed: #330044;
$onPrimaryFixedVariant: #770099;
$secondaryFixed: #FFD7F5;
$secondaryFixedDim: #E4BADA;
$onSecondaryFixed: #2C1229;
$onSecondaryFixedVariant: #5C3D56;
$tertiaryFixed: #FFD8EA;
$tertiaryFixedDim: #F6B3D5;
$onTertiaryFixed: #350B26;
$onTertiaryFixedVariant: #683653;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #211723;
$term1: #EC4AE2;
$term2: #FFBAC2;
$term3: #FFDDED;
$term4: #B1A3D6;
$term5: #D596D5;
$term6: #9DCEFF;
$term7: #E9D3DC;
$term8: #C6B4BD;
$term9: #FFA0F0;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #D5DAF9;
$term13: #FFC9FA;
$term14: #FFF9F8;
$term15: #FBD7FF;
