$darkmode: True;
$transparent: True;
$background: #12131C;
$onBackground: #E2E1EF;
$surface: #12131C;
$surfaceDim: #12131C;
$surfaceBright: #383843;
$surfaceContainerLowest: #0C0D17;
$surfaceContainerLow: #1A1B25;
$surfaceContainer: #1E1F29;
$surfaceContainerHigh: #282934;
$surfaceContainerHighest: #33343F;
$onSurface: #E2E1EF;
$surfaceVariant: #454654;
$onSurfaceVariant: #C5C5D6;
$outline: #8F8F9F;
$outlineVariant: #454654;
$inverseSurface: #E2E1EF;
$inverseOnSurface: #2F303A;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BCC2FF;
$primary: #BCC2FF;
$primaryDim: #7786FF;
$onPrimary: #00179B;
$primaryContainer: #0024D8;
$onPrimaryContainer: #DFE0FF;
$inversePrimary: #2440FF;
$primaryFixed: #DFE0FF;
$primaryFixedDim: #BCC2FF;
$onPrimaryFixed: #000B62;
$onPrimaryFixedVariant: #0024D8;
$secondary: #CBC1E9;
$secondaryDim: #DED4FE;
$onSecondary: #322C4C;
$secondaryContainer: #494264;
$onSecondaryContainer: #E7DEFF;
$secondaryFixed: #E7DEFF;
$secondaryFixedDim: #CBC1E9;
$onSecondaryFixed: #1D1736;
$onSecondaryFixedVariant: #494264;
$tertiary: #D9BBF2;
$tertiaryDim: #E4C6FE;
$onTertiary: #3D2653;
$tertiaryContainer: #543D6B;
$onTertiaryContainer: #F0DBFF;
$tertiaryFixed: #F0DBFF;
$tertiaryFixedDim: #D9BBF2;
$onTertiaryFixed: #27103C;
$onTertiaryFixedVariant: #543D6B;
$error: #FFB4AB;
$errorDim: #FF554A;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryPaletteKeyColor: #002CFE;
$secondaryPaletteKeyColor: #7A7296;
$tertiaryPaletteKeyColor: #876D9F;
$neutralPaletteKeyColor: #767682;
$neutralVariantPaletteKeyColor: #757685;
$errorPaletteKeyColor: #DE3730;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #181A26;
$term1: #A377FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #95AAD7;
$term5: #AFA0EC;
$term6: #9DCEFF;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #CDB3FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #CEDCF8;
$term13: #DFD3FF;
$term14: #F8FAFF;
$term15: #DEE0FF;
